/* ////////////////////// */
/*        LAYOUT          */
/* ////////////////////// */
.col-1 {
  width: 8.33333333%;
}
.col-2 {
  width: 16.66666667%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33333333%;
}
.col-5 {
  width: 41.66666667%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33333333%;
}
.col-8 {
  width: 66.66666667%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33333333%;
}
.col-11 {
  width: 91.66666667%;
}
.col-12 {
  width: 100%;
}
.wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}
.line {
  margin: 0 -35px;
  font-size: 0;
}
.line [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  font-size: 14px;
}
.row {
  font-size: 0;
}
.row [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 35px;
  font-size: 14px;
}
.row [class^=col-]:first-child {
  padding-left: 0;
}
.row [class^=col-]:last-child {
  padding-right: 0;
}
.row [class^=collist-] {
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  font-size: 14px;
}
.row .collist-marker {
  width: 15%;
}
.row .collist-txt {
  width: 85%;
}
.row [class^=collist-]:first-child {
  padding-left: 0;
}
.row [class^=collist-]:last-child {
  padding-right: 0;
}
.container {
  min-height: 840px;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}
.l-margin-extra {
  margin-bottom: 80px;
}
/*@font-face 
{
	font-family: 'Appetite';
	src: url('../fonts/appetite.otf') format('opentype'); 
}*/
@font-face {
  font-family: 'appetite';
  src: url('../fonts/appetite.eot?') format('eot'), url('../fonts/appetite.woff2') format('woff2'), url('../fonts/appetite.woff') format('woff'), url('../fonts/appetite.ttf') format('truetype'), url('../fonts/appetite.svg#appetite') format('svg');
}
body {
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
p {
  color: #6b6b6b;
}
.section-title {
  color: #04a4e7;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 34px;
  font-family: "Appetite";
  font-weight: 100;
}
.section-title--white {
  color: #fff;
}
.page-title {
  text-align: center;
  font-weight: 100;
  color: #fc5b5b;
  font-family: "Appetite";
  margin-bottom: 34px;
  text-transform: uppercase;
  font-size: 30px;
}
.page-nav {
  margin-bottom: 20px;
}
.page-nav__link {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 50px;
}
.page-nav__link a {
  font-size: 18px;
  color: #04a4e7;
}
.page-nav__link a:hover {
  color: #fc5b5b;
}
.page-nav__link--active {
  font-weight: bold;
  border-bottom: 2px solid #04a4e7;
}
.page-nav__link--active:hover {
  border-bottom: 2px solid #fc5b5b;
}
.page-nav__link--active:hover a {
  color: #fc5b5b;
}
.page-content__item {
  display: none;
}
.page-content__item--active {
  display: block;
}
.redlink {
  color: #fc5b5b;
  font-size: 14px;
  text-decoration: underline;
  display: inline-block;
  vertical-align: middle;
}
.redlink:hover {
  text-decoration: none;
}
.mb-30 {
  margin-bottom: 30px;
}
.not-found {
  margin-top: 40px;
}
.not-found p {
  margin-bottom: 20px;
}
.not-found img {
  max-width: 400px;
  max-height: 560px;
}
.not-found .l-vim {
  vertical-align: middle;
}
.search {
  min-height: 840px;
}
.search__form {
  margin-bottom: 30px;
}
.search__form-input {
  height: 40px;
  border: 1px solid #04a4e7;
  background: url("../img/search/search_blue.png") no-repeat 2% 50%;
  padding-left: 40px;
  color: #6b6b6b;
  width: 700px;
  float: left;
  outline: none;
}
.search__form-submit {
  font-family: "Appetite";
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  padding: 10px 50px;
  background-color: #04a4e7;
  outline: none;
  border: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  text-align: center;
  float: right;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.search__form-submit:hover {
  background-color: #52cbf9;
}
.search__total {
  margin-bottom: 30px;
}
.search__result dt {
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.search__result dd {
  color: #6b6b6b;
  margin-bottom: 55px;
}
.search__phrase {
  font-weight: bold;
}
/***************************
********Scafolding**********
***************************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.map {
  width: 100%;
  min-width: 960px;
  height: 510px;
  overflow: hidden;
}
.pagination {
  text-align: center;
}
.pagination li {
  display: inline-block;
  margin-right: 15px;
}
.pagination li a {
  color: #04a4e7;
  padding: 10px 15px;
  font-size: 18px;
  background-color: #b9e5f9;
}
.flip-container {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 400px;
  margin-bottom: 50px;
  border-radius: 50%;
}
.flip-container:hover {
  transform: rotateY(180deg);
}
.flip-container__front,
.flip-container__back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
.flip-container__front {
  z-index: 2;
}
.flip-container__back {
  background-color: #fff;
  transform: rotateY(180deg);
  border: 5px solid #04a4e7;
  height: 380px;
  width: 380px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.flip-container__back p {
  text-align: center;
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 24px;
  text-transform: uppercase;
  padding: 100px 60px;
}
.balloon__header {
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 16px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
  padding-bottom: 10px;
}
.balloon__body {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
.balloon__footer {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.btn-info {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 30px;
  border: 2px solid #fff;
  outline: none;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 75px;
  color: #fff;
  font-family: "Appetite";
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.btn-info:hover {
  border: 4px solid #fff;
  padding: 8px 28px;
}
.btn-more-info {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 15px 30px;
  background-color: #fff ;
  outline: none;
  text-transform: uppercase;
  color: #04a4e7;
  font-size: 16px;
  font-family: "Appetite";
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.btn-more-info:hover {
  background-color: #b9e5f9;
}
.btn-respond {
  font-family: "Appetite";
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0;
  background-color: #04a4e7;
  outline: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  width: 100%;
  text-align: center;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.btn-respond:hover {
  background-color: #52cbf9;
}
.btn-more {
  font-family: "Appetite";
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 35px ;
  background-color: #fff;
  outline: none;
  text-transform: uppercase;
  color: #04a4e7;
  font-size: 16px;
  border: 2px solid #04a4e7;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.btn-more:hover {
  background-color: #52cbf9;
}
.js-search-form {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.js-search-form form {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50px;
  background-color: #fff;
  border: 2px solid #fc5b5b;
  -webkit-transition: border 300ms linear;
  -moz-transition: border 300ms linear;
  -o-transition: border 300ms linear;
  -ms-transition: border 300ms linear;
  transition: border 300ms linear;
}
.js-search-form form:hover {
  border: 2px solid #ed0404;
}
.js-search-form__open {
  display: inline-block;
  z-index: 2;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 20px;
  background: url('../img/header/search_icon.png') no-repeat 50% 50%;
  background-color: #fc5b5b;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.js-search-form__open:hover {
  background-color: #ed0404;
}
.js-search-form__close {
  display: inline-block;
  z-index: 1;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 20px;
  background: url('../img/header/close_white.png') no-repeat 50% 50%;
  background-color: #fc5b5b;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.js-search-form__close:hover {
  background-color: #ed0404;
}
.js-search-form__input {
  position: absolute;
  color: #fc5b5b;
  background-color: #fff;
  height: 36px;
  border: none;
  font-size: 20px;
  width: 320px;
  right: 80px;
  outline: none;
}
.js-search-form__submit {
  position: absolute;
  right: 40px;
  height: 36px;
  width: 36px;
  border: none;
  background-color: transparent;
  background: url('../img/header/search_grey.png') 0 50% no-repeat;
  font-size: 23px;
  border-right: 2px solid #fc5b5b;
  outline: none;
}
.js-lector-form {
  margin-bottom: 25px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.js-lector-form__search {
  position: relative;
  width: 380px;
  height: 40px;
  border: 1px solid #04a4e7;
}
.js-lector-form__search-input {
  outline: none;
  border: none;
  width: 330px;
  height: 38px;
  position: absolute;
  left: 8px;
  top: 0;
}
.js-lector-form__search-submit {
  position: absolute;
  right: 0;
  top: 0;
  height: 38px;
  width: 38px;
  background: url('../img/header/search_icon.png') no-repeat 50% 50%;
  background-color: #04a4e7;
  outline: none;
  border: none;
}
.js-lector-form__select {
  float: right;
  width: 285px;
  height: 40px;
  border: 1px solid #04a4e7;
  background: url('../img/_for_sprite/lectors/select-arrow-down.jpg') no-repeat 100% 100%;
  position: relative;
  cursor: pointer;
  line-height: 38px;
  text-align: left;
  padding-left: 8px;
}
.js-lector-form__select a {
  color: #B1B2AA;
}
.js-lector-form__select > div {
  display: none;
  width: 285px;
  position: absolute;
  top: 45px;
  left: 0px;
  border: 1px solid #04a4e7;
  background-color: #fff;
}
.js-lector-form__select > div > a {
  padding-left: 8px;
  border-bottom: 1px solid #04a4e7;
  display: block;
}
.js-lector-form__select > div > a:last-child {
  border: none;
}
.js-lector-form__select > div > a:hover {
  background-color: #ebe7e7;
}
.header {
  padding: 20px 0 5px 0;
}
.header__top-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}
.header__top {
  margin-bottom: 20px;
}
.header .logo {
  float: left;
  width: 30%;
}
.header .logo__img {
  margin-right: 25px;
}
.header .logo__title {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b;
  font-weight: normal;
  width: 40%;
}
.header .round-links {
  text-align: right;
}
.header .round-links__link {
  background-color: #04a4e7;
  color: #6b6b6b;
  display: inline-block;
  vertical-align: top;
  height: 40px;
  font-size: 10px;
  padding-top: 10px;
  width: 40px;
  text-align: center;
  border-radius: 20px;
  margin-right: 10px;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.header .round-links__link:hover {
  background-color: #52cbf9;
}
.header .round-links__link:before {
  margin-bottom: 10px;
  background-image: url(../img/sprite/sprite.png);
  background-position: -235px -29px;
  width: 14px;
  height: 20px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header .round-links__link--msg {
  padding-top: 13px;
}
.header .round-links__link--msg:before {
  margin-bottom: 13px;
  background-image: url(../img/sprite/sprite.png);
  background-position: -164px -150px;
  width: 20px;
  height: 14px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.header__nav {
  width: 960px;
}
.header__nav .menu {
  text-align: justify;
  line-height: 0;
}
.header__nav .menu:after {
  width: 100%;
  height: 0px;
  visibility: hidden;
  overflow: hidden;
  content: '';
  display: inline-block;
}
.header__nav .menu > .menu-item {
  display: inline-block;
  line-height: normal;
  font-size: 14px;
  vertical-align: top;
  position: relative;
}
.header__nav .menu > .menu-item a {
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: 100;
  color: #04a4e7;
  font-family: "Appetite";
  -webkit-transition: color 300ms linear;
  -moz-transition: color 300ms linear;
  -o-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}
.header__nav .menu > .menu-item a:hover {
  color: #fc5b5b;
}
.header__nav .menu > .menu-item:first-child > a {
  padding-left: 0;
}
.header__nav .menu > .menu-item:last-child > a {
  padding-right: 0;
}
.header__nav .menu > .menu-item > .sub-menu {
  z-index: 2;
  padding: 20px 0;
  position: absolute;
  overflow: hidden;
  display: none;
  background: #fff;
  text-align: left;
}
.header__nav .menu > .menu-item > .sub-menu > .menu-item a {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  padding: 5px 31px;
}
.header__nav-toggle {
  display: none;
  margin-right: 15px;
  padding: 10px 10px 7px 10px;
  background-color: transparent;
  background-image: none;
  border: 2px solid #fc5b5b;
  outline: none;
}
.header__nav-toggle-bar {
  display: block;
  width: 22px;
  height: 3px;
  margin-bottom: 3px;
  border-radius: 1px;
  background-color: #fc5b5b;
}
.header__nav-wrapper {
  margin: 0 auto;
  padding: 0 10px;
  width: 980px;
}
.header .item-active > a {
  color: #fc5b5b;
}
.about-committe {
  min-height: 840px;
}
.about__teaser p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 35px;
}
.about__teaser span {
  color: #04a4e7;
  font-size: 20px;
}
.about ol {
  list-style-type: none;
  counter-reset: item;
  margin-bottom: 35px;
}
.about ol li {
  font-size: 14px;
  line-height: 24px;
  color: #6b6b6b;
}
.about ol li:before {
  content: counter(item) ') ';
  counter-increment: item;
}
.person__img {
  width: 100%;
  margin-bottom: 34px;
}
.person__img img {
  width: 100%;
}
.person__name {
  display: block;
  margin-bottom: 25px;
  text-align: center;
  color: #04a4e7;
  font-size: 18px;
}
.person__profession {
  display: block;
  text-align: center;
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 30px;
}
.infographics {
  width: 620px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}
.infographics__img {
  margin-bottom: 25px;
  max-height: 115px;
  max-width: 140px;
}
.infographics__num {
  display: block;
  font-family: "Appetite";
  font-size: 36px;
  color: #04a4e7;
}
.infographics__txt {
  display: block;
  font-family: "Appetite";
  font-size: 18px;
  color: #04a4e7;
}
.infographics [class^=col-] {
  padding: 0 5px;
}
.galery .album {
  margin-bottom: 35px;
}
.galery .album__img {
  width: 100%;
  margin-bottom: 10px;
}
.galery .album__img img {
  width: 100%;
}
.galery .album__name {
  display: block;
  margin-bottom: 15px;
  text-align: left;
  color: #04a4e7;
  font-size: 18px;
}
.galery .album__tizer {
  display: block;
  text-align: left;
  font-size: 12px;
  color: #6b6b6b;
  margin-bottom: 15px;
}
.mfp-figure .mfp-close {
  font-size: 90px;
  top: 45px;
}
.lectors {
  text-align: center;
  margin-bottom: 75px;
}
.information {
  min-height: 840px;
}
.document {
  margin-bottom: 25px;
}
.document__img {
  width: 100%;
  margin-bottom: 40px;
}
.document__img img {
  width: 100%;
}
.document__title {
  font-size: 14px;
  margin-bottom: 25px;
}
.document__title--journal {
  min-height: 95px;
}
.document__video {
  width: 100%;
}
.document__video iframe {
  width: 100%;
  border: 0px;
}
.document__link {
  display: inline-block;
  vertical-align: middle;
  min-height: 35px;
  margin-right: 40px;
  cursor: pointer;
}
.document__link img {
  display: inline-block;
  vertical-align: middle;
  max-height: 35px;
  max-width: 35px;
  margin-right: 20px;
}
.document__link--pdf:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -40px -193px;
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.document__link--doc:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -145px -43px;
  width: 33px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.document__link--xlsx:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -86px -106px;
  width: 33px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.document__link--pptx:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -106px;
  width: 33px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.contacts {
  min-height: 500px;
}
.contacts__paragraph {
  margin-bottom: 35px;
}
.contacts__paragraph a[href="mailto:zpsh@spbu.ru"] {
  color: #04a4e7;
}
.contacts__map {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.contacts-book {
  min-height: 840px;
}
.contacts-book__tizer {
  font-size: 18px;
  color: #04a4e7;
  margin-bottom: 35px;
}
.contacts-book__form {
  margin-bottom: 35px;
}
.contacts-book__form-input {
  height: 40px;
  width: 380px;
  border: 1px solid #04a4e7;
  padding-left: 10px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: top;
}
.contacts-book__form-submit {
  background-color: #04a4e7;
  font-family: "Appetite";
  color: #fff;
  font-size: 16px;
  outline: none;
  border: none;
  padding: 8px 35px;
  height: 40px;
  border: 1px solid #04a4e7;
  display: inline-block;
  vertical-align: top;
}
.contacts-book__form-submit:hover {
  background-color: #52cbf9;
}
.articles {
  font-size: 0;
}
.articles li {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 70px;
}
.articles li img {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}
.articles li p {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
  width: 65%;
}
.articles li:nth-child(2n+1) {
  padding-right: 30px;
}
.articles li:nth-child(2n) {
  padding-left: 30px;
}
.questions p,
.questions ul {
  margin-bottom: 25px;
}
.questions__question p {
  color: #04a4e7;
  font-size: 20px;
  border-bottom: 2px dotted #04a4e7;
  display: inline-block;
  cursor: pointer;
}
.questions__question--active p {
  border-bottom: none;
}
.questions__question--active + .questions__answer {
  display: block;
}
.questions__qualification {
  color: #04a4e7;
}
.questions__clarification {
  color: #6b6b6b;
  font-size: 14px;
}
.questions__answer {
  display: none;
}
.wall {
  background-image: url(../img/wall/background.jpg);
  background-size: cover;
  min-height: 420px;
  min-width: 960px;
  padding: 55px 0;
}
.wall__title {
  font-size: 36px;
  font-weight: 100;
  margin-bottom: 35px;
  font-family: "Appetite";
  letter-spacing: 0.03em;
  color: #fff;
  text-transform: uppercase;
}
.wall__title span {
  font-size: 50px;
}
.wall__info {
  font-size: 16px;
  margin-bottom: 30px;
  color: #fff;
}
.wall__dates {
  color: #04a4e7;
  font-size: 30px;
  font-family: "Appetite";
}
.timer {
  text-align: center;
  padding: 60px 160px;
  color: #fc5b5b;
}
.timer__tab {
  font-size: 60px;
  padding: 10px 0;
  border: 2px solid #fc5b5b;
  margin-bottom: 10px;
  color: #fc5b5b;
  font-family: "Appetite";
}
.timer__txt {
  color: #fc5b5b;
}
.programm {
  text-align: center;
  padding: 40px 0 30px 0;
  min-height: 510px;
  min-width: 960px;
  background-image: url(../img/programm/background_programm_.jpg);
  background-size: cover;
}
.programm__include {
  margin-bottom: 35px;
}
.programm__txt {
  font-size: 16px;
  color: #fff;
  line-height: 24px;
  text-shadow: 1px 1px 2px black, 0 0 1em #b9e5f9;
}
.programm__img {
  max-width: 120px;
  max-height: 120px;
  margin-bottom: 20px;
}
.programm__tizer {
  margin-top: 25px;
  font-size: 14px;
  color: #fff;
}
.do {
  padding: 60px 0;
}
.do .speaker-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 80px 0 0;
  width: 50%;
}
.do .student-col {
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 80px;
  width: 50%;
}
.do li {
  padding: 5px 0;
}
.do__img {
  max-height: 400px;
  border-radius: 50%;
}
.do__title {
  font-family: "Appetite";
  color: #04a4e7;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 100;
}
.do__txt {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
}
.do__bonuses {
  margin: 20px 0 20px 0;
  color: #04a4e7;
  min-height: 205px;
}
.do__bonus-diplom:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -193px;
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-feedback:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -80px -193px;
  width: 30px;
  height: 30px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-speach:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -190px 0px;
  width: 35px;
  height: 31px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-discount:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -50px -45px;
  width: 41px;
  height: 33px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-glory:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -145px 0px;
  width: 35px;
  height: 33px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-horizon:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -124px -150px;
  width: 30px;
  height: 18px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-workshop:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -190px -41px;
  width: 32px;
  height: 32px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-tradition:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -120px -193px;
  width: 26px;
  height: 30px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-winter:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -150px;
  width: 29px;
  height: 33px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.do__bonus-certificate:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -190px -83px;
  width: 24px;
  height: 40px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication {
  margin-bottom: 125px;
}
.aplication__line {
  margin: 0 -80px;
  font-size: 0;
}
.aplication__line [class^=col-] {
  display: inline-block;
  vertical-align: top;
  padding: 0 80px;
  font-size: 14px;
}
.aplication__sub-line {
  margin: 0 -18px;
  font-size: 0;
  min-height: 390px;
}
.aplication__sub-line [class^=col-] {
  display: inline-block;
  vertical-align: middle;
  padding: 0 18px;
  font-size: 14px;
}
.aplication__class {
  text-align: center;
  font-family: "Appetite";
  font-size: 36px;
  color: #04a4e7;
  margin-bottom: 30px;
}
.aplication__option {
  color: #04a4e7;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  min-height: 53px;
}
.aplication__uni {
  color: #04a4e7;
  margin-bottom: 30px;
  font-weight: bold;
}
.aplication__item {
  padding: 7px 0;
}
.aplication__steps {
  margin-bottom: 60px;
  min-height: 205px;
}
.aplication__steps-txt {
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 14px;
}
.aplication__steps li {
  margin-bottom: 15px;
}
.aplication__steps-step {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}
.aplication__steps-step--selection:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -50px 0px;
  width: 41px;
  height: 35px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--letter:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--participant:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -101px -46px;
  width: 34px;
  height: 36px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--meeting:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -39px -150px;
  width: 32px;
  height: 29px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--letter-download:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -43px -106px;
  width: 33px;
  height: 34px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--project:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: 0px -50px;
  width: 34px;
  height: 46px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--mail:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -81px -150px;
  width: 33px;
  height: 23px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.aplication__steps-step--request:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -101px 0px;
  width: 34px;
  height: 36px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.materials {
  min-height: 580px;
}
.footer .copy {
  padding: 30px 0;
}
.footer .copy p {
  font-size: 14px;
  padding: 6px 0;
}
.footer .social-icons {
  float: right;
  padding: 23px 0;
}
.footer .social-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 20px;
  background-color: #fc5b5b;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.footer .social-icon:hover {
  background-color: #04a4e7;
}
.footer .social-icon--vk:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -194px -150px;
  width: 21px;
  height: 12px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--facebook:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -235px -82px;
  width: 10px;
  height: 19px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--twitter:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -235px -59px;
  width: 17px;
  height: 13px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.footer .social-icon--instagram:after {
  background-image: url(../img/sprite/sprite.png);
  background-position: -186px -193px;
  width: 19px;
  height: 19px;
  content: "";
  display: inline-block;
  vertical-align: middle;
}
.popup {
  display: none;
  width: 100%;
  min-height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  position: fixed;
  top: 0px;
  z-index: 5;
}
.popup form {
  width: 430px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #ebe7e7;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.popup form > div {
  margin-bottom: 20px;
}
.popup form > div > span {
  float: left;
  color: #04a4e7;
  font-size: 24px;
  font-family: "Appetite";
  text-transform: uppercase;
}
.popup form > div > div {
  float: right;
  height: 20px;
  width: 20px;
  text-align: right;
  position: relative;
  cursor: pointer;
}
.popup form > div > div:before {
  background-image: url(../img/sprite/sprite.png);
  background-position: -235px 0px;
  width: 19px;
  height: 19px;
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  top: 30%;
  right: 0;
}
.popup form > div:after,
.popup form > div:before {
  content: "";
  display: table;
  clear: both;
}
.popup input[type=text],
.popup input[type=email] {
  margin-bottom: 25px;
  height: 50px;
  padding-left: 10px;
  width: 100%;
  outline: none;
  border: 1px solid #04a4e7;
}
.popup input[type=submit] {
  width: 100%;
  outline: none;
  background-color: #04a4e7;
  font-family: "Appetite";
  text-transform: uppercase;
  font-size: 16px;
  padding: 12px;
  border: none;
  color: #fff;
  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}
.popup input[type=submit]:hover {
  background-color: #52cbf9;
}
.popup textarea {
  margin-bottom: 45px;
  height: 125px;
  resize: none;
  padding: 10px;
  vertical-align: top;
  width: 100%;
  outline: none;
  border: 1px solid #04a4e7;
}
@media (max-width: 940px) and (min-width: 640px) {
  .wrapper {
    width: 620px;
  }
  .col-tablet-1 {
    width: 8.33333333%;
  }
  .col-tablet-2 {
    width: 16.66666667%;
  }
  .col-tablet-3 {
    width: 25%;
  }
  .col-tablet-4 {
    width: 33.33333333%;
  }
  .col-tablet-5 {
    width: 41.66666667%;
  }
  .col-tablet-6 {
    width: 50%;
  }
  .col-tablet-7 {
    width: 58.33333333%;
  }
  .col-tablet-8 {
    width: 66.66666667%;
  }
  .col-tablet-9 {
    width: 75%;
  }
  .col-tablet-10 {
    width: 83.33333333%;
  }
  .col-tablet-11 {
    width: 91.66666667%;
  }
  .col-tablet-12 {
    width: 100%;
  }
  /* ////////////////////*/
  /*    banner-small     */
  /* ////////////////////*/
  .wall {
    background-position: 850px 0px;
    min-height: 300px;
    min-width: 600px;
    text-align: center;
  }
  .wall__title {
    font-size: 25px;
    padding: 0 20px;
  }
  .wall__title span {
    font-size: 35px;
  }
  .wall__info {
    font-size: 15px;
  }
  .wall .btn-info {
    text-align: center;
    margin-bottom: 40px;
  }
  .wall__dates {
    padding: 0 20px;
  }
  .timer {
    padding: 20px 100px;
  }
  .timer .timer__block {
    margin-bottom: 20px;
  }
  .do .speaker-col {
    padding: 10px;
    text-align: center;
  }
  .do .student-col {
    padding: 10px;
    text-align: center;
  }
  .do__img {
    max-height: 200px;
    border-radius: 50%;
  }
  .do__bonuses {
    text-align: left;
  }
  .do .flip-container {
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 20px;
  }
  .do .flip-container__back {
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    left: 20%;
  }
  .do .flip-container__back p {
    padding: 40px 0;
    font-size: 20px;
  }
  .do .flip-container__front {
    left: 20%;
  }
  .do .l-margin-extra {
    margin-bottom: 89px;
  }
  .programm {
    min-width: 620px;
  }
  .map {
    min-width: 620px;
  }
  .footer .copy {
    line-height: 45px;
    font-weight: bold;
    text-align: center;
  }
  .footer .row [class^=col-] {
    padding: 0;
  }
  .header .row [class^=col-] {
    padding: 0;
  }
  .header .js-search-form__input {
    width: 320px;
  }
  .header .round-links__link {
    float: right;
    margin: 0 10px 10px 0;
  }
  .header__nav-toggle {
    display: inline-block;
    vertical-align: middle;
    float: left;
  }
  .header__top {
    margin-bottom: 20px;
  }
  .header__nav {
    display: none;
    width: 620px;
    margin: 0 auto;
  }
  .header__nav > ul {
    display: block;
  }
  .header__nav > ul > li {
    display: block;
    text-align: center;
    border: 1px solid #04a4e7;
  }
  .header__nav > ul > li > ul {
    position: static;
    padding: 0;
    text-align: center;
    padding-top: 0;
    background-color: #e0e0e0;
  }
  .header__nav > ul > li > ul > li {
    border: 1px solid #04a4e7;
  }
  .header__nav > ul > li > ul > li a {
    font-size: 10px;
  }
  .header .logo__img {
    margin-bottom: 10px;
  }
  .header .logo__title {
    vertical-align: top;
    width: 120px;
  }
  .header__top-wrapper {
    width: 620px;
  }
  .header__nav-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .infographics {
    padding: 0 0;
    text-align: center;
    margin-bottom: 25px;
  }
  .infographics__txt {
    margin-bottom: 20px;
  }
  .infographics.row [class^=col-] {
    padding: 0;
  }
  .articles {
    font-size: 0;
  }
  .articles li {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 600px;
  }
  .articles li .articles__img {
    width: 40%;
    margin-bottom: 10px;
    padding-right: 5%;
  }
  .articles li .articles__img img {
    width: 100%;
  }
  .articles li p {
    width: 60%;
  }
  .articles li:nth-child(2n+1) {
    padding-right: 0;
  }
  .articles li:nth-child(2n) {
    padding-left: 0;
  }
  .person {
    text-align: center;
  }
  .person__img {
    margin-bottom: 15px;
  }
  .person__profession {
    font-size: 20px;
  }
  .person__name {
    font-size: 20px;
    margin-bottom: 5px;
  }
  .aplication {
    margin-bottom: 0;
  }
  .aplication__steps-txt {
    width: 80%;
  }
  .aplication__steps-step {
    width: 20%;
  }
  .aplication__sub-line {
    min-height: 300px;
  }
  .contacts-book {
    margin-bottom: 60px;
    text-align: center;
  }
  .contacts {
    margin-bottom: 20px;
  }
  .contacts__paragraph {
    margin-bottom: 15px;
  }
  .contacts__map {
    width: 600px;
  }
  .contacts .line {
    margin: 0;
  }
  .contacts .line [class^=col-] {
    padding: 0;
  }
  .contacts .redlink {
    margin-bottom: 10px;
  }
  .information {
    margin-bottom: 25px;
  }
  .lectors {
    margin-bottom: 15px;
  }
  .lectors .line {
    margin: 0;
  }
  .lectors .js-lector-form__search {
    width: 270px;
    margin-bottom: 10px;
  }
  .lectors .js-lector-form__search-input {
    font-size: 15px;
    width: 230px;
  }
  .lectors .js-lector-form__select {
    width: 270px;
    border: 1px solid #04a4e7;
  }
  .lectors .js-lector-form__select > div {
    width: 270px;
  }
  .document {
    margin-bottom: 25px;
  }
  .document__img {
    margin-bottom: 20px;
  }
  .document__title {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .document__title--journal {
    min-height: 0;
  }
  .document__video {
    width: 100%;
  }
  .document__video iframe {
    width: 100%;
    min-height: 200px;
    border: 0px;
  }
  .galery {
    text-align: center;
  }
  .galery .album {
    margin-bottom: 15px;
  }
  .galery .album__name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .galery .album__tizer {
    text-align: center;
    font-size: 20px;
  }
  .not-found .l-vim {
    vertical-align: top;
  }
  .search {
    text-align: center;
  }
  .search__form-input {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .search__form-submit {
    display: inline-block;
    float: none;
  }
}
@media (max-width: 640px) {
  .wrapper {
    width: 350px;
  }
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
  }
  .section-title {
    font-size: 20px;
  }
  .programm {
    min-width: 350px;
  }
  .programm .row [class^=col-] {
    padding: 0;
  }
  .programm__img {
    margin-top: 25px;
  }
  .timer {
    padding: 35px;
  }
  .timer__txt {
    font-size: 20px;
  }
  .timer .timer__block {
    margin-bottom: 10px;
  }
  .do .speaker-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .do .student-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .do__img {
    max-height: 200px;
    border-radius: 50%;
  }
  .do__bonuses {
    text-align: left;
  }
  .do .flip-container {
    min-height: 200px;
    max-height: 200px;
    margin-bottom: 20px;
  }
  .do .flip-container__back {
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
  }
  .do .flip-container__back p {
    padding: 40px 0;
    font-size: 18px;
  }
  .do .flip-container__front {
    left: 20%;
  }
  .do .l-margin-extra {
    margin-bottom: 0;
  }
  .do .speaker-col {
    margin-bottom: 30px;
  }
  .footer {
    text-align: center;
    font-weight: bold;
  }
  .footer .row [class^=col-] {
    padding: 0;
  }
  .footer .copy {
    padding-top: 10px;
    line-height: 20px;
  }
  .footer .social-icons {
    float: none;
    padding: 10px 0;
  }
  .header {
    min-width: 330px;
  }
  .header .row [class^=col-] {
    padding: 0;
  }
  .header .logo__title {
    width: 120px;
    margin-bottom: 10px;
  }
  .header .js-search-form {
    display: inline-block;
    vertical-align: top;
  }
  .header .js-search-form__input {
    width: 60px;
  }
  .header .round-links__link {
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-bottom: 10px;
  }
  .header__nav-toggle {
    display: inline-block;
    vertical-align: top;
    float: left;
  }
  .header__nav {
    width: 350px;
    margin: 0 auto;
    display: none;
  }
  .header__nav > ul > li {
    display: block;
    text-align: center;
    border: 1px solid #04a4e7;
  }
  .header__nav > ul > li > ul {
    position: static;
    padding: 0;
    text-align: center;
    background-color: #e0e0e0;
  }
  .header__nav > ul > li > ul > li {
    border: 1px solid #04a4e7;
  }
  .header__nav > ul > li > ul > li a {
    font-size: 10px;
  }
  .header__top-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .header__nav-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .map {
    min-width: 350px;
  }
  .wall {
    background-position: 850px 0px;
    min-width: 350px;
  }
  .wall__title {
    font-size: 25px;
    text-align: center;
    padding: 0 20px;
  }
  .wall__title span {
    font-size: 35px;
  }
  .wall__info {
    font-size: 15px;
  }
  .wall .btn-info {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
  }
  .wall__dates {
    padding: 0 20px;
  }
  .popup__content {
    width: 350px;
  }
  .page-nav__link {
    display: block;
  }
  .infographics {
    padding: 0 0;
    text-align: center;
    margin-bottom: 25px;
    width: 330px;
  }
  .infographics__txt {
    margin-bottom: 20px;
  }
  .infographics.row [class^=col-] {
    padding: 0;
  }
  .articles {
    font-size: 0;
  }
  .articles li {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 330px;
  }
  .articles li .articles__img {
    display: block;
    padding-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }
  .articles li .articles__img img {
    width: 100%;
  }
  .articles li p {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    line-height: 24px;
    width: 100%;
  }
  .articles li:nth-child(2n+1) {
    padding-right: 0;
  }
  .articles li:nth-child(2n) {
    padding-left: 0;
  }
  .about-committe .line {
    margin: 0;
  }
  .person {
    text-align: center;
  }
  .person__img {
    margin-bottom: 15px;
  }
  .person__profession {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
  }
  .person__name {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    margin-bottom: 5px;
  }
  .lectors {
    margin-bottom: 15px;
  }
  .lectors .line {
    margin: 0;
  }
  .js-lector-form__search {
    width: 330px;
    margin-bottom: 10px;
  }
  .js-lector-form__select {
    float: left;
    width: 330px;
    border: 1px solid #04a4e7;
  }
  .js-lector-form__select > div {
    width: 330px;
  }
  .contacts-book {
    margin-bottom: 20px;
  }
  .contacts-book__tizer {
    font-size: 20px;
    color: #04a4e7;
    margin-bottom: 35px;
  }
  .contacts-book__form {
    margin-bottom: 35px;
    text-align: center;
  }
  .contacts-book__form-input {
    height: 40px;
    width: 330px;
    margin-bottom: 15px;
    display: inline-block;
    vertical-align: top;
  }
  .contacts-book__form-submit {
    background-color: #04a4e7;
    width: 330px;
  }
  .contacts {
    margin-bottom: 20px;
  }
  .contacts__paragraph {
    margin-bottom: 15px;
  }
  .contacts__map {
    width: 330px;
    height: 300px;
    overflow: hidden;
  }
  .contacts .line {
    margin: 0;
  }
  .contacts .line [class^=col-] {
    padding: 0;
  }
  .contacts .redlink {
    margin-bottom: 10px;
  }
  .information {
    margin-bottom: 25px;
  }
  .galery .line {
    margin: 0;
  }
  .galery .line [class^=col-] {
    padding: 0;
  }
  .galery .album {
    margin-bottom: 15px;
  }
  .galery .album__name {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
  }
  .galery .album__tizer {
    text-align: center;
    font-size: 20px;
  }
  .pagination {
    text-align: center;
    margin-bottom: 20px;
  }
  .document {
    margin-bottom: 25px;
  }
  .document__img {
    margin-bottom: 20px;
  }
  .document__title {
    font-size: 14px;
    margin-bottom: 25px;
  }
  .document__title--journal {
    min-height: 0;
  }
  .document__video {
    width: 100%;
  }
  .document__video iframe {
    min-height: 200px;
  }
  .materials-presentation {
    margin-bottom: 0;
  }
  .materials-presentation .line {
    margin: 0;
  }
  .materials-presentation .line [class^=col-] {
    padding: 0;
  }
  .aplication {
    margin-bottom: 25px;
  }
  .aplication__uni {
    min-height: 40px;
  }
  .aplication__steps-step {
    width: 40%;
  }
  .aplication__steps-txt {
    width: 60%;
  }
  .not-found {
    margin-top: 20px;
  }
  .not-found .l-vim {
    margin-bottom: 30px;
  }
  .not-found img {
    max-width: 200px;
    max-height: 280px;
  }
  .search__form-input {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 30px;
  }
  .search__form-submit {
    display: block;
    float: none;
    width: 100%;
  }
}
