.js-search-form
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	
	form
	{
		display: inline-block;
		vertical-align: middle;
		position: relative;			
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 50px;
		background-color: #fff;
		border: 2px solid @red-basic;
        -webkit-transition: border 300ms linear;
        -moz-transition: border 300ms linear;
        -o-transition: border 300ms linear;
        -ms-transition: border 300ms linear;
        transition: border 300ms linear;  

        &:hover
        {
            border: 2px solid @red-light;
        }
    }

    &__open
    {
        display: inline-block;
        z-index: 2;
        vertical-align: middle;
        position: absolute;
        top: 0;
        right: 0;
        text-align: center;
        height: 36px;
        width: 36px;
        border-radius: 20px;
        background: url('../img/header/search_icon.png') no-repeat 50% 50%;
        background-color: @red-basic;

        -webkit-transition: background-color 300ms linear;
        -moz-transition: background-color 300ms linear;
        -o-transition: background-color 300ms linear;
        -ms-transition: background-color 300ms linear;
        transition: background-color 300ms linear;  

        &:hover
        {
            background-color: @red-light;
        }
}

&__close
{
  display: inline-block;
  z-index: 1;
  vertical-align: middle;
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  height: 36px;
  width: 36px;
  border-radius: 20px;
  background: url('../img/header/close_white.png') no-repeat 50% 50%;
  background-color: @red-basic;


  -webkit-transition: background-color 300ms linear;
  -moz-transition: background-color 300ms linear;
  -o-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;  
  &:hover
  {
   background-color: @red-light;
 }
}

&__input
{				
  position: absolute;
  color: @red-basic;
  background-color: #fff;
  height: 36px;
  border: none;
  font-size: 20px;
  width: 320px;		
  right: 80px;	
  outline: none;
}

&__submit
{		
  position: absolute;
  right: 40px;	
  height: 36px;
  width: 36px;
  border: none;
  background-color: transparent;
  background: url('../img/header/search_grey.png') 0 50% no-repeat;
  font-size: 23px;		
  border-right: 2px solid @red-basic;
  outline: none;
}
}


.js-lector-form
{	
	margin-bottom: 25px;
  display: inline-block;
  vertical-align: middle;
  float:left;
	&__search
	{		
		position: relative;
		width: 380px;
		height: 40px;
		border: 1px solid @blue-basic;

		&-input
		{
			outline: none;
			border: none;
			width: 330px;
			height: 38px;
			position: absolute;
			left: 8px;
			top: 0;
		}

		&-submit
		{
			position: absolute;
			right: 0;
			top:0;
			height: 38px;
			width: 38px;			
			background: url('../img/header/search_icon.png') no-repeat 50% 50%;
			background-color: @blue-basic;
			outline: none;
			border: none;
		}
	}

	&__select
	{
		float: right;
		width: 285px;
    height: 40px;
    border: 1px solid @blue-basic; 
    background: url('../img/_for_sprite/lectors/select-arrow-down.jpg') no-repeat 100% 100%;     
    position: relative;
		cursor: pointer;
    line-height: 38px;
    text-align: left;
    padding-left: 8px;
    
    a
    {
      color:#B1B2AA;
    }

    > div
    {
      display: none;
      width: 285px;
      position: absolute;
      top:45px;
      left: 0px;

      border: 1px solid @blue-basic; 
      background-color: #fff;
      
      > a
      {
        padding-left: 8px;
        border-bottom: 1px solid @blue-basic; 
        display: block;
        
        &:last-child
        {
          border: none;
        }

        &:hover
        {
          background-color: @grey-ligth;
        }
      }
    }

 }
}