.header
{	
	padding:  20px 0 5px 0;
	
	&__top-wrapper
	{
		margin: 0 auto;
		padding: 0 10px;
		width: @wrapper-width;
	}

	&__top
	{
		margin-bottom: 20px;
	}

	.logo
	{
		float: left;
		width: 30%;
		&__img
		{
			margin-right: 25px;
		}	

		&__title
		{
			display: inline-block;			
			vertical-align: baseline;
  			font-size: 14px;
  			line-height: 24px;
  			color: @grey-basic;
  			font-weight: normal;
  			width: 40%;
		}        
	}

	.round-links
	{
		text-align: right;

		&__link
		{			  			
  			background-color: @blue-basic;
  			color:@grey-basic;
			display: inline-block;
			vertical-align: top;
			height: 40px;
			font-size: 10px;
			padding-top: 10px;
			width: 40px;
			text-align: center;
			
			border-radius: 20px;
			margin-right: 10px;
			

			-webkit-transition: background-color 300ms linear;
			-moz-transition: background-color 300ms linear;
			-o-transition: background-color 300ms linear;
			-ms-transition: background-color 300ms linear;
			transition: background-color 300ms linear;  
			&:hover
			{
				background-color: @blue-light;
			}
  			
  			&:before
  			{				
  				margin-bottom: 10px;
				.sprite(@contacts-book);	        
  			}

  			&--msg
  			{
				padding-top: 13px;			
				&:before
  				{
  					margin-bottom: 13px;
  					.sprite(@email-us);	    
  				}
  			}
		}
	}


	&__nav
    {          	    	
    	width:@wrapper-width-correct; 

        .menu
        {
			text-align: justify;
	        line-height: 0;
	        &:after 
	        {
	            width: 100%;
	            height: 0px;
	            visibility: hidden;
	            overflow: hidden;
	            content: '';
	            display: inline-block;
	        }


	        > .menu-item
	        {               	
	            display: inline-block;
	            line-height: normal;
	            font-size: 14px;
	            vertical-align: top;
	            position: relative;
	            a
	            {
	            	text-transform: uppercase;  					
					font-size: 18px; 
					padding: 10px 20px;
					font-weight: 100;
					color: @blue-basic;
					font-family: "Appetite"; 	

					-webkit-transition: color 300ms linear;
					-moz-transition: color 300ms linear;
					-o-transition: color 300ms linear;
					-ms-transition: color 300ms linear;
					transition: color 300ms linear;  

					&:hover
					{
						color: @red-basic;					
					}			               
	            }    

	            &:first-child
	            {
	            	>a
	            	{
	            		padding-left: 0;	
	            	}
	            	
	            }

	            &:last-child
	            {
	            	>a
	            	{
						padding-right: 0;
	            	}				
	            }

			    > .sub-menu
			    {    	
			    	z-index: 2;
			    	padding: 20px 0;
					position: absolute;			
					overflow: hidden;
					display: none;
					background: #fff;
					text-align: left;

					> .menu-item
					{
						a
						{
							display: inline-block;
							vertical-align: middle;
							font-size: 14px;
							padding: 5px 31px;
						}			
					}
			    }      

	        }   
        }         
    }
    
    &__nav-toggle 	
    {
		display: none;		
		margin-right: 15px;
		padding: 10px 10px 7px 10px;
		background-color: transparent;
		background-image: none;
		border: 2px solid @red-basic;
		outline: none;
		&-bar
		{
			display: block;
			width: 22px;
			height: 3px;
			margin-bottom: 3px;
			border-radius: 1px;
			background-color: @red-basic;
		}
    }

    &__nav-wrapper
    {
		margin: 0 auto;
		padding: 0 10px;
		width: @wrapper-width;
    }

    .item-active
    {
		> a
		{
			color:@red-basic;
		}
    }
}