@media (max-width: @resolution-mobile) 
{ 
    .wrapper
    {  
        width: @wrapper-width-mobile;
    }   

   .generate-columns(@n,@i:1) when (@i=<@n)
    {  
        .col-xs-@{i}
        {
            width:(@i*100%/@n);       
        }
        .generate-columns(@n, (@i+1));
    }

    .generate-columns(12);

	.section-title
	{
		font-size: 20px;		
	}

    .programm
	{	
		min-width: @wrapper-width-mobile;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}

		&__img
		{
			margin-top: 25px;
		}
	}

	.timer
	{
		padding: @wrapper-margin;
		&__txt
		{
			font-size: 20px;		
		}	

		.timer__block
		{
			margin-bottom: 10px;
		}
	}

	.do
	{		
		.speaker-col
		{
			width: 100%;
			padding: 0;
			text-align: center;
		}

		.student-col
		{		
			width: 100%;	
			padding: 0;
			text-align: center;
		}

		&__img
		{
			max-height: 200px;
			border-radius: 50%;
		}

		&__bonuses
		{
			text-align: left;
		}

		.flip-container
		{		  
			min-height: 200px;
			max-height: 200px;
			margin-bottom: 20px;
		 	&__back
		  	{
			    min-height: 200px;
			    max-height: 200px;
			    max-width: 200px;			    
			    & p
    			{  
    				padding: 40px 0;
    				font-size: 18px;
    			}
			}
			&__front
		  	{
				left: 20%;
		  	}
		}	

		.l-margin-extra	
		{
			margin-bottom: 0;
		}

		.speaker-col
		{
			margin-bottom: 30px;
		}
	}

	.footer
	{
		text-align: center;
		font-weight: bold;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
		.copy
		{
			padding-top: 10px;
			line-height: 20px;			
		}

		.social-icons
		{
			float: none;
			padding: 10px 0;
		}
	}

	.header
	{
		min-width: @wrapper-width-mobile-correct;
		.row 
		{
			& [class^=col-]
			{			    			    
			    padding: 0;			    
			}
		}
	
		.logo
		{    		
			&__title
			{
				width: 120px;
				margin-bottom: 10px;
			}        

		}    

		.js-search-form
		{
			display: inline-block;
			vertical-align: top;
			
			&__input
			{	
				width: 60px;
			}
		}

		.round-links__link
		{
			display: inline-block;
			vertical-align: top;	
			float: right;
			margin-bottom: 10px;		
		}

		 &__nav-toggle 	
        {
    		display: inline-block;	
    		vertical-align: top;	   
    		float: left; 		
		}   
		
		&__nav
	    {      		   
	    	width: @wrapper-width-mobile; 	
	    	margin: 0 auto;
	    	display: none;
			> ul
			{
				> li
		        {               	
		            display:block;
		            text-align: center;	 
		            border: 1px solid @blue-basic; 

	            	> ul
	                {	    	
	                	position: static;
	                	padding: 0;
	                	text-align: center;
	                	background-color: @grey-special;	

	            		> li 
	            		{
	            			border: 1px solid @blue-basic;							
	                        a
	                        {
	            				font-size: 10px;											
	                        }		
	            		}
	                }     	         		        	          		
		        }
			}	               
	    }

		
		
		&__top-wrapper
		{
			margin: 0;
			padding: 0;
			width: 100%;
		}

	    &__nav-wrapper
	    {
			margin: 0;
			padding: 0;
			width: 100%;
	    }          
	}

	.map
	{
		min-width: @wrapper-width-mobile;
	}

    .wall
    {
    	background-position: 850px 0px;    
		min-width:  @wrapper-width-mobile;
		&__title
		{
			font-size: 25px;
			text-align: center;
			padding: 0 20px;
			span
			{
				font-size: 35px;
			}
		}
		
		&__info
		{
			font-size: 15px;	
		}

		.btn-info
		{
			width: 100%;
			text-align: center;
			margin-bottom: 40px;
		}

		&__dates
		{
			padding: 0 20px;
		}
    }

    .popup__content
    {
		width: @wrapper-width-mobile;
    }
	

	.page
	{

		&-nav
		{			
			&__link
			{
				display: block;													
			}
		}
	}

    .infographics
	{
		padding: 0 0;
		text-align: center;
		margin-bottom: 25px;
		width: @wrapper-width-mobile-correct;
		&__txt
		{
			margin-bottom: 20px;
		}

		&.row [class^=col-]
		{			 
			padding: 0;			    			
		}
	}

	.articles
	{
		font-size: 0;
		li
		{
		  	display: block;
			margin: 0 auto;
			margin-bottom: 30px;
			width: @wrapper-width-mobile-correct;
			
			.articles__img
			{
				display: block;							
				padding-right: 0;
				margin-bottom: 10px;
				width: 100%;

				img
				{				
					width: 100%
				}
			}
					
			p
			{
				display: inline-block;
				vertical-align: top;
				font-size: 14px;
				line-height: 24px;		
				width: 100%;				
			}				

			&:nth-child(2n+1)
			{
				padding-right: 0;
			}

			&:nth-child(2n)
			{
				padding-left: 0;
			}
		}	
	}

	.about-committe
	{
		.line
		{
			margin: 0;			
		}				
	}	

	.person
	{
		text-align: center;
		&__img			
		{				
			margin-bottom: 15px;			
		}

		&__profession
		{
			font-size: 20px;
			display: inline-block;
			vertical-align: top;
		}

		&__name
		{
			font-size: 20px;
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;
			margin-bottom: 5px;
		}		
	}

	.lectors
	{
		.line
		{
			margin: 0;			
		}	
		margin-bottom: 15px;
	}

	.js-lector-form
	{	
		&__search
		{
			width: @wrapper-width-mobile-correct;
			margin-bottom: 10px;
		}

		&__select
		{
			float: left;
			width: @wrapper-width-mobile-correct;
			border: 1px solid @blue-basic;
			>
			div
			{
				width: @wrapper-width-mobile-correct;
			}
		}
	}

	.contacts-book
	{
		margin-bottom: 20px;		
		&__tizer
		{
			font-size: 20px;
			color:@blue-basic;
			margin-bottom: 35px;
		}

		&__form
		{
			margin-bottom: 35px;
			text-align: center;
			&-input
			{
				height: 40px;
				width: @wrapper-width-mobile-correct;								
				margin-bottom: 15px;
				display: inline-block;
				vertical-align: top;
			}

			&-submit
			{
				background-color: @blue-basic;
				width: @wrapper-width-mobile-correct;				
			}
		}
	}

	.contacts
	{
		margin-bottom: 20px;
		&__paragraph
		{
			margin-bottom: 15px;			
		}	

		&__map
		{
			width: @wrapper-width-mobile-correct;				
			height: @height-contacts-map;
			overflow: hidden;
		}

		.line
		{
			margin: 0;	
			& [class^=col-]
			{			 
				padding: 0;			    			
			}		
		}	

		.redlink
		{
			margin-bottom: 10px;
		}
	}

	.information
	{
		margin-bottom: 25px;
	}
		
	.galery
	{		
		.line
		{
			margin: 0;	
			& [class^=col-]
			{			 
				padding: 0;			    			
			}		
		}	

		.album
		{
			margin-bottom: 15px;

			&__name
			{
				text-align:center;
				font-size: 20px;
				margin-bottom: 10px;									
			}

			&__tizer
			{
				text-align:center;		
				font-size: 20px;				
			}
		}
	}

	.pagination
	{
	  text-align: center;
	  margin-bottom: 20px;
	  
	}

	.document
	{
		margin-bottom: 25px;

		&__img
		{			
			margin-bottom: 20px;			
		}

		&__title
		{
			font-size: 14px;
			margin-bottom: 25px;
			
			&--journal
			{
				min-height: 0;
			}
		}

		&__video
		{
			width: 100%;
			iframe
			{
				min-height: 200px;				
			}
		}		
	}

	.materials-presentation
	{
		margin-bottom: 0;
		.line
		{
			margin: 0;	
			& [class^=col-]
			{			 
				padding: 0;			    			
			}		
		}	
	}

	.aplication
	{
		&__uni
		{
			min-height: 40px;
		}		
		
		&__steps-step
		{
			width: 40%;
		}

		&__steps-txt
		{
			width: 60%;
		}
		margin-bottom: 25px;
	}

	.not-found
	{
		margin-top: 20px;
		.l-vim 
		{
		  margin-bottom: 30px;
		}

		img
		{
			max-width: 200px;
			max-height: 280px;
		}
	}

	.search
	{		
		&__form
		{		
			&-input
			{
				display: block;
				float: none;
				width: 100%;
				margin-bottom: 30px;
			}

			&-submit
			{
				display: block;				
				float: none;
				width: 100%;
			}
		}		
	}
}